@font-face {
    font-family: 'Plumb Condensed';
    src: url('../fonts/plumbcondensed-regular-webfont.eot');
    src: url('../fonts/plumbcondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/plumbcondensed-regular-webfont.woff2') format('woff2'),
         url('../fonts/plumbcondensed-regular-webfont.woff') format('woff'),
         url('../fonts/plumbcondensed-regular-webfont.ttf') format('truetype'),
         url('../fonts/plumbcondensed-regular-webfont.svg#plumbcondensedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Plumb Black';
    src: url('../fonts/plumbcondensed-black-webfont.eot');
    src: url('../fonts/plumbcondensed-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/plumbcondensed-black-webfont.woff2') format('woff2'),
         url('../fonts/plumbcondensed-black-webfont.woff') format('woff'),
         url('../fonts/plumbcondensed-black-webfont.svg#plumbcondensedblack') format('svg');
    font-weight: normal;
    font-style: normal;

}
